* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #d98880;
    color: white;
}

button,
input[type='button'] {
    background-color: rgb(255, 116, 116);
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px 15px;
    font-size: 1.1em;
    cursor: pointer;
}

button:hover,
input[type='button']:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px 15px;
    font-size: 1.1em;
    cursor: pointer;
}

table,
td,
th {
    border: 1px solid black;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.1em;
}
