* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
    flex-direction: row;
}

button,
input[type='button'] {
    background-color: rgb(255, 116, 116);
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1.1em;
    cursor: pointer;
}

footer {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 116, 116);
    padding: 3px 0;
    font-size: 0.9em;
}

button:hover,
input[type='button']:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1.1em;
    cursor: pointer;
}

input[type='text'] {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1.1em;
}
input[type='text']:focus {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    border: 1px solid black;
    outline: none;
}

#model_loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(186, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#info-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(186, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
}

#winner-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(186, 186, 186, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.info {
    width: 60vw;
    height: 60vh;
    background-color: #d98880;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 6px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 6px 5px rgba(0, 0, 0, 0);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.info h2 {
    font-size: 3.5em;
    text-align: center;
}

.info h3 {
    font-size: 2.5em;
    text-align: center;
}
.info h4 {
    font-size: 2em;
    text-align: center;
}

#time {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20px;
    padding: 5px 25px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3.5em;
    display: none;
}

#score-left {
    position: absolute;
    left: 25%;
    transform: translate(-50%, 0);
    top: 20px;
    padding: 5px 25px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3.5em;
    display: none;
}

#score-right {
    position: absolute;
    left: 75%;
    transform: translate(-50%, 0);
    top: 20px;
    padding: 5px 25px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3.5em;
    display: none;
}
